@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic');
@import url('https://cdn.bootcss.com/material-design-icons/3.0.1/iconfont/material-icons.css');

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
}


.is-full-width{
  width: 100%;
}

.is-page{
	padding: 12px;
	padding: 1vh 2vw;
}

.is-backgroun-img{
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.is-key{
	color: #f44336;
	font-weight: bolder;
}
